.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .loginCard {
    background-color: #2e1a47;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
  }
  
  .loginTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
  }
  
  .mb3 {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
  }
  
  .formControl {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .formControl:focus {
    border-color: #f2e6fe;
    outline: none;
    box-shadow: 0 0 5px rgba(242, 230, 254, 0.5)
;
  }
  
  .isInvalid {
    border-color: #dc3545;
  }
  
  .invalidFeedback {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .btnPrimary {
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #734f8b;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btnPrimary:hover {
    background-color: #8963a2;
  }
  
  .loginMessage {
    text-align: center;
    margin-top: 15px;
    color: #28a745;
  }

  .registerLink {
    text-align: center;
    color: white;
  }
  .registerLink a{
    color: #f2e6fe;
  }