.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-color: #20B2AA !important;; 
  color: white; 
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: white;
  text-decoration: none;
}

.navbar-logo {
  width: 100px;
  height: auto;
  margin-left: 60px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .dropdown-toggle-custom {
    font-size: 14px; 
    padding: 8px 12px; 
  }
}