.sidebar {
    width: 250px; 
    background-color: #f8f9fa; 
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    height: calc(100vh - 60px); 
  }
  
  .sidebarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .setName h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .backButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 1em;
  }
  
  .backButton:hover {
    background-color: #e2e6ea;
  }
  
  ul {
    list-style-type: none; 
    padding: 0;
  }
  
  .sidebarButton {
    width: 100%;
    padding: 10px;
    background-color: transparent; 
    border: none; 
    text-align: left;
    cursor: pointer;
    color: #333;
    font-size: 1em;
  }
  
  .sidebarButton:hover {
    background-color: #e2e6ea;
  }
  
  .active {
    font-weight: bold;
    color: #007bff; 
    background-color: #e9ecef;
  }
  
  