.sidebar-container {
  position: fixed;
  top: 120px;
  left: 0;
  height: 80vh;
  width: 250px;
  transform: translateX(-230px);
  transition: transform 0.3s ease;
  z-index: 99;
}

.sidebar-container:hover {
  transform: translateX(0);
}

.sidebar-tab {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  width: 40px;
  height: 100px;
  background-color: #2e1a47;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

}

.sidebar {
  background-color: #2e1a47;
  height: 100%;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.setName h3 {
  margin: 0;
  color: #fff;
}

.sidebarButton {
  display: block;
  padding: 10px;
  margin: 10px 0;
  color: #f2e6fe;
  background-color: #734f8b;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

.sidebarButton:hover {
  background-color: #4a2c91;
}

.active {
  background-color: #4a2c91;
  font-weight: bold;
}

.backButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  position: fixed;
  top:10px;
  right: 25px;
}

.backButton:hover {
  text-decoration: underline;
}
.sidebarHeader{
  text-align: center;
}
