/* Style kontenera całej strony */
.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Kontener podsumowania */
.summaryContainer {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 20px;
}

/* Nagłówek podsumowania */
.summaryHeader {
    text-align: center;
    margin-bottom: 40px;
}

.summaryHeader h1 {
    font-size: 36px;
    font-weight: bold;
}

.summaryHeader p {
    font-size: 18px;
    margin: 5px 0;
}

/* Sekcja pytań */
.questionsSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Pojedyncze pytanie */
.questionBlock {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Lista odpowiedzi */
ul {
    list-style-type: none;
    padding-left: 0;
}

.answer {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.correctAnswer {
    color: #4caf50;
    font-weight: bold;
}

.userAnswer {
    background-color: #ffe4da;
    color: #ff211a;
    border: 2px solid #ff211a;
}

.bothStyles {
    background-color: #deffd9;
    border: 2px solid #4caf50;
    font-weight: bold;
}


/* Styl dla przycisku */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
