
.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.testPage {
    
    height: 100vh;
    display: flex;
}

.testContainer {
    background-color: transparent;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.questionContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
}

.answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.answerButton {
    background-color: #f2e6fe;
    border: none;
    color: #000000;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: max(400px, 90%);
    
    margin: 10px;

}

.answerButton:hover {
    background-color: #734f8b;
    color: white;
}

.selected {
    background-color: #2e1a47;
    color: white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.navButton {
    background-color: #007bff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.navButton:disabled {
    background-color: #007bff;
    cursor: not-allowed;
}

.sidebarRight {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebarLeft {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionMap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    max-width: 200px;
}

.mapTile {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.mapTile:hover {
    background-color: #e1e4e8;
}

.answered {
    background-color: #4a2c91;
    color: white;
}

.current {
    border: 2px solid #000000;
}

.timer {
    background-color: #f2e6fe;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid red;
    font-size: 20px;
    font-weight: bold;
    margin: 35px;
    text-align: center;
}

.finishButton {
    background-color: #dc3545;
    color: white;
}
