.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.summaryContainer {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 20px;
}

.summaryHeader {
    text-align: center;
    margin-bottom: 40px;
}

.summaryHeader h1 {
    font-size: 36px;
    font-weight: bold;
}

.summaryHeader p {
    font-size: 18px;
    margin: 5px 0;
}

.questionsSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionBlock {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

ul {
    list-style: none;
    padding-left: 0;
}

.answer {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.correctAnswer {
    color: #4caf50;
    font-weight: bold;
}

.userAnswer {
    background-color: #ffe4da;
    color: #ff211a;
    border: 2px solid #ff211a;
}

.bothStyles {
    background-color: #deffd9;
    border: 2px solid #4caf50;
    font-weight: bold;
}

.crudbutton {
    background-color: #9b59b6;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px white solid;
  }
  
  .crudbutton:hover {
    background-color: #734f8b;
  }
