.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.historyContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.historyTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.historyTable th, .historyTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.historyTable th {
    background-color: #f4f4f4;
    text-align: center;
}

.viewButton, .backButton {
    background-color: #f2e6fe;
    border: none;
    color: #000000;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.viewButton:hover, .backButton:hover {
    background-color: #734f8b;
    color: white;
}
